
.hero{
    height: 80vh;
    width: 85vw;
    margin: auto;
    
}
.hero-text{
    
    color: #091E42;
    text-align: left;
    
}
h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5%;
}
.tagline{
    opacity: 0.8;
    font-size: 1.2em;
}

.hr-wrap{
    background-color: #F4F5F7;
   
}
.hr-section{
    width: 85vw;
    margin: auto;
}
@media only screen and (max-width: 700px) {
    .hero{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-around;
       
    }
    .hr-cards{
        flex-direction: column;
    }
}