
.nav-mobile{
    width: 100vw;
    min-height: 40vh;
    z-index: 1;
    color:hsl(218, 76%, 15%) ;
    /* margin-top:-30%; */
    background-color: #fff;
   padding: 10px 10px 5px 10px;
}
.nav-buttons{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
}

/* media query */
@media only screen and (max-width: 700px) {
    .nav-header{
        margin: 10px 18px;
    }
}